[submodule "android-environment"]
	path = android-environment
	url = https://aur.archlinux.org/android-environment.git
[submodule "android-configure_PKGBUILD"]
	path = android-configure_PKGBUILD
	url = https://github.com/Denzy7/android-configure_PKGBUILD
